<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand"><button class="btn btn-primary" [routerLink]="['/locations/create']">+</button> LOCATIONS</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText"
      name="search">
  </form>
</nav>
<div class="container">
  <!--Table header-->
  <div class="row">
    <div class="col">
      <h4>Name</h4>
    </div>
    <div class="col">&nbsp;</div>
    <div class="col">&nbsp;</div>
  </div>
  <!--Table data-->
  <ng-template ngFor let-location [ngForOf]="locations |filter:searchText">
    <app-location-list-row [location]="location" (locationsUpdated)="getLocations($event)"></app-location-list-row>
  </ng-template>
</div>